# This is a basic workflow to help you get started with Actions

name: Validate Pull Requests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  pull_request:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  validate-xml:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
      CHANGED_FILES: initValue_CHANGED_FILES

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          cache: "pip"
      - run: pip install -r .github/requirements.txt

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41

      - name: Variables assignment
        run: echo "CHANGED_FILES=${{ steps.changed-files.outputs.all_changed_files }}" >> $GITHUB_ENV

      # Runs a single command using the runners shell
      - name: Run XML validation
        run: python .github/validateXML.py

  validate-user:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
      CHANGED_FILES: initValue_CHANGED_FILES
      CURRENT_USER: initValue_CURRENT_USER
      ALLOWED_USERS: ${{ secrets.ALLOWED_USERS }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          cache: "pip"
      - run: pip install -r .github/requirements.txt

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41

      - name: Variables assignment
        run: |
          echo "CHANGED_FILES=${{ steps.changed-files.outputs.all_changed_files }}" >> $GITHUB_ENV
          echo "CURRENT_USER=${{ github.event.pull_request.user.login }}" >> $GITHUB_ENV

      - name: Run user validation
        run: |
          python .github/validateUser.py

  create-index:
    runs-on: ubuntu-latest
    needs: ["validate-xml", "validate-user"]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.ACCESS_TOKEN }}
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Check index
        run: |
          python .github/createIndex.py


      - name: Update index
        if: ${{ failure() }}
        uses: EndBug/add-and-commit@v9
        with:
          add: "index.xml"
          message: "Updated index file"
          committer_name: "GitHub Actions"
          committer_email: "actions@github.com"
